<!DOCTYPE html>
<html>
<head>
    <title>Account - Add</title>
</head>
<body>
<h1>Add New Account</h1>
<form action="/account/insert" method="get">
    Account ID: <input name="account_id" type="text" />
    <br />
    <input type="submit"  />
</form>
</body>
</html>