<!DOCTYPE html>
<html>
<head>
    <title>Skill - Add</title>
</head>
<body>
<h1>Add New Skill</h1>
<form action="/skill/insert" method="get">
    Skill ID: <input name="skill_id" type="text" />
    <br />
    <input type="submit"  />
</form>
</body>
</html>